* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
  font-family: 'Darker Grotesque';
  background-color:#023047;
  color: #023047;
  font-size: 40px;
  padding: 16px;

}

.game-container {
  padding: 0px;
  width: 484px;
}

.game-panel {
  background-color: FFB703;
  color: yellow;
}

.game-board {

  border: 2px solid rgb(251, 133, 0);
  background-color: lightgreen;
  position: relative;
}

h1 {
  font-size: 70px;
  text-align: center;
}

.score {
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  color: #06d6a0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  border: 1px solid black;
  width: 48px;
  height: 48px; 
  cursor: pointer;

}

.end-game-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color:rgba(251, 133, 0, 0.6);

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.end-game-text {
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Press Start 2P';
}

.btn {
  font-size: 24px;
  font-family: 'Bungee Spice';
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #03045e;
  border: 2px solid rgb(0, 23, 50);
}

.btn:hover {
  background-color: #023e8a;
}

.hidden {
  display: none;
}

.footer {
  font-size: 20px;
  color: #06d6a0;
  display: flex;
  justify-content: space-between;
  width: 484px;

}

a {
  color: cyan;
}

.spacing {
  padding: 10px;
}

/* Button Game components */
.stopwatch {
  display: flex;
  justify-content: space-between;
  width: 480px;
  color: red;
}

.stopwatch-button {

}

.starter-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
}